In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('chipotle.tsv','\t')

C:\Users\Piyush Rawat\AppData\Local\Temp\ipykernel_3452\378585840.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv('chipotle.tsv','\t')

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Filling missing values

In [5]:
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [6]:
##To handle these choice description values i will simply fill the null with none

In [7]:
df['choice_description'].fillna('None', inplace=True)

In [8]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,None,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,None,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:
df.isnull().sum()

order_id              0
quantity              0
item_name             0
choice_description    0
item_price            0
dtype: int64

Verifying Data types

In [10]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [11]:
## order id, quantity are in numerical
## choice_description,item_name, item_price are in categorical
##item price should be in numerical data

Treating the item_price column

In [12]:
df['item_price'] = df.item_price.str.replace('$','').astype(float)

C:\Users\Piyush Rawat\AppData\Local\Temp\ipykernel_3452\1255533920.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['item_price'] = df.item_price.str.replace('$','').astype(float)

In [13]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,None,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,None,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  4622 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

Identifying and handling Duplicated Entries

In [15]:
duplicated_entries = df[df.duplicated()]

In [16]:
duplicated_entries.head() ## These are duplicated entries.

,order_id,quantity,item_name,choice_description,item_price
238,103,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
248,108,1,Canned Soda,[Mountain Dew],1.09
297,129,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, G...",11.75
381,165,1,Canned Soft Drink,[Coke],1.25
484,205,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75

In [17]:
#Duplicated entries can affect our analysis by providing inaccurate statistical measures like mean,median,mode and take space in the dataset
## Removing duplicated entries are the best possible solution

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.shape

(4563, 5)

Examining the quantity and item price columns

In [20]:
df['quantity'].describe()

count    4563.000000
mean        1.076704
std         0.412739
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64

In [21]:
## The quantity column has a maximum value of 15 which can be an outlier or can be bulk order

In [22]:
df['item_price'].describe()

count    4563.000000
mean        7.490083
std         4.244155
min         1.090000
25%         3.750000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price, dtype: float64

In [23]:
## item price have wide range of values with max 44.25 dollars

Choice Description

In [24]:
count = df['choice_description'].value_counts()

In [25]:
count.head(10)

None                                                                                 1228
[Diet Coke]                                                                           133
[Coke]                                                                                115
[Sprite]                                                                               77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                 41
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]      38
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                   36
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                          33
[Lemonade]                                                                             31
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                      28
Name: choice_description, dtype: int64

In [26]:
## choice description have wide variety of orders with some having none

In [27]:
## we can use dummy columns to create a seperate columns for ingredients

In [28]:
## We have to first remove the []
df['choice_description'] = df.choice_description.str.replace('[\[\]]','')

C:\Users\Piyush Rawat\AppData\Local\Temp\ipykernel_3452\2331044381.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['choice_description'] = df.choice_description.str.replace('[\[\]]','')

In [29]:
## now make dummies columns
dummies = df['choice_description'].str.get_dummies(', ')

In [30]:
dummies

,Adobo-Marinated and Grilled Chicken,Adobo-Marinated and Grilled Steak,Apple,Black Beans,Blackberry,Braised Barbacoa,Braised Carnitas,Brown Rice,Cheese,Cilantro-Lime Rice,...,Sour Cream,Sprite,Tomatillo Green Chili (Medium),Tomatillo Green Chili Salsa,Tomatillo Red Chili (Hot),Tomatillo Red Chili Salsa,Tomatillo-Green Chili Salsa (Medium),Tomatillo-Red Chili Salsa (Hot),Vegetarian Black Beans,White Rice
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4618,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
4619,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4620,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4621,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
## We can join this dummies with df dataset

In [32]:
df2 = pd.concat([df,dummies], axis=1)

In [33]:
df2.head()

,order_id,quantity,item_name,choice_description,item_price,Adobo-Marinated and Grilled Chicken,Adobo-Marinated and Grilled Steak,Apple,Black Beans,Blackberry,...,Sour Cream,Sprite,Tomatillo Green Chili (Medium),Tomatillo Green Chili Salsa,Tomatillo Red Chili (Hot),Tomatillo Red Chili Salsa,Tomatillo-Green Chili Salsa (Medium),Tomatillo-Red Chili Salsa (Hot),Vegetarian Black Beans,White Rice
0,1,1,Chips and Fresh Tomato Salsa,None,2.39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,Izze,Clementine,3.39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,Nantucket Nectar,Apple,3.39,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,Chips and Tomatillo-Green Chili Salsa,None,2.39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0

In [34]:
##for futher analysis we can remove the choice description as we have now seperated columns for each order

Checking special characters

In [35]:
special_characters = df[['choice_description','item_name']].apply(lambda x:x.str.contains('[A-Za-z0-9 ]', regex=True)).any()

In [36]:
special_characters

choice_description    True
item_name             True
dtype: bool

In [37]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,None,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,None,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98

Relationship between quantity and item price

In [38]:
df.quantity.describe()

count    4563.000000
mean        1.076704
std         0.412739
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        15.000000
Name: quantity, dtype: float64

In [39]:
df.item_price.describe()

count    4563.000000
mean        7.490083
std         4.244155
min         1.090000
25%         3.750000
50%         8.750000
75%         9.250000
max        44.250000
Name: item_price, dtype: float64

In [40]:
df.quantity.corr(df.item_price)

0.26470124722480276

In [41]:
## A small positive correlation is present means if we increase the value of quantity, item price will increase in small quantity